<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>维修管理人员界面</title>
    <link rel="stylesheet" type="text/css" href="css/mui.min.css" />
	<style>
			.mui-control-content {
				background-color:#EFEFF4;
				min-height:400px;
			}
			.mui-control-content .mui-loading {
				margin-top: 50px;
			}
	</style>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">预订车位信息表</h1>
	</header>
	<div class="mui-content">
		<ul class="mui-table-view"style="margin-top: -1px;"style="margin-top: 0px;position: fixed;">
			<li class="mui-table-view-cell mui-media">
				<div class="mui-media-body" style="font-size: 14px;">			
					<lable>剩余车位：</lable>
					<span style="color:#007aff;">20个</span>	
					
				</div>
				<div class="mui-media-body" style="margin-top: 5px;font-size: 14px;">
					<lable>停车位置：</lable>
					<span>新郑机场</span>
				</div>					
			</li>
		</ul>
	<div id="slider" class="mui-slider"style="margin-top: 0px;position: fixed;">
		<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted"style="background: #FFFFFF;">
			<a class="mui-control-item" href="#item1mobile"style="color:#007aff;font-weight: 700;">预订车位信息</a>
		</div>
		<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-12"></div>
			<div class="mui-slider-group">
				<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
					<div id="scroll1" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view" style="margin-top: 8px;">
								<li class="mui-table-view-cell"style="padding: 9px 15px;">
									<lable>预约编号：</lable>
									<span>201612080001</span>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</li>
								<li class="mui-table-view-cell">
									<a class="mui-navigate-right">
										<p>
                    						<lable style="color:#000000;">车主姓名：</lable>
											<span style="color:#007aff;">张亮</span>
                    					</p>
                    					<p>
                    						<lable style="color:#000000;">车牌号码：</lable>
											<span style="color:#007aff;">豫AT3397</span>
                    					</p>
                    					<p>
                    						<lable style="color:#000000;">预订时间：</lable>
											<span style="color:#007aff;">10点</span>
                    					</p>
									</a>
									</li>
								<li class="mui-table-view-cell"style="padding: 9px 15px;">
										&nbsp;
									<button type="button" class="mui-btn mui-btn-primary"style="margin-right: 160px;padding: 4px 8px;">确定预约</button>
									<button type="button" class="mui-btn mui-btn-primary"style="margin-right: 80px;padding: 4px 8px;">取消预约</button>
									<button type="button" class="mui-btn mui-btn-primary"style="margin-right: 0px;padding: 4px 8px;">结束预约</button>
								</li>
							</ul>
								
							<ul class="mui-table-view" style="margin-top: 8px;">
								<li class="mui-table-view-cell"style="padding: 9px 15px;">
									<lable>预约编号：</lable>
									<span>201612080001</span>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</li>
								<li class="mui-table-view-cell">
									<a class="mui-navigate-right">
										<p>
                    						<lable style="color:#000000;">车主姓名：</lable>
											<span style="color:#007aff;">张亮</span>
                    					</p>
                    					<p>
                    						<lable style="color:#000000;">车牌号码：</lable>
											<span style="color:#007aff;">豫AT3397</span>
                    					</p>
                    					<p>
                    						<lable style="color:#000000;">预订时间：</lable>
											<span style="color:#007aff;">10点</span>
                    					</p>
									</a>
								</li>
								<li class="mui-table-view-cell"style="padding: 9px 15px;">
									&nbsp;
									<button type="button" class="mui-btn mui-btn-primary"style="margin-right: 160px;padding: 4px 8px;">确定预约</button>
									<button type="button" class="mui-btn mui-btn-primary"style="margin-right: 80px;padding: 4px 8px;">取消预约</button>
									<button type="button" class="mui-btn mui-btn-primary"style="margin-right: 0px;padding: 4px 8px;">结束预约</button>
								</li>
							</ul>
								
							<ul class="mui-table-view"style="margin-top: 8px;">
								<li class="mui-table-view-cell"style="padding: 9px 15px;">
									<lable>预约编号：</lable>
									<span>201612080001</span>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</li>
								<li class="mui-table-view-cell">
									<a class="mui-navigate-right">
										<p>
                    						<lable style="color:#000000;">车主姓名：</lable>
											<span style="color:#007aff;">张亮</span>
                    					</p>
                    					<p>
                    						<lable style="color:#000000;">车牌号码：</lable>
											<span style="color:#007aff;">豫AT3397</span>
                    					</p>
                    					<p>
                    						<lable style="color:#000000;">预订时间：</lable>
											<span style="color:#007aff;">10点</span>
                    					</p>
									</a>
								</li>
								<li class="mui-table-view-cell"style="padding: 9px 15px;">
									&nbsp;
									<button type="button" class="mui-btn mui-btn-primary"style="margin-right: 160px;padding: 4px 8px;">确定预约</button>
									<button type="button" class="mui-btn mui-btn-primary"style="margin-right: 80px;padding: 4px 8px;">取消预约</button>
									<button type="button" class="mui-btn mui-btn-primary"style="margin-right: 0px;padding: 4px 8px;">结束预约</button>
								</li>
							</ul>
								
							<ul class="mui-table-view"style="margin-top: 8px;">
								<li class="mui-table-view-cell"style="padding: 9px 15px;">
									<lable>预约编号：</lable>
									<span>201612080001</span>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</li>
								<li class="mui-table-view-cell">
									<a class="mui-navigate-right">
										<p>
                    						<lable style="color:#000000;">车主姓名：</lable>
											<span style="color:#007aff;">张亮</span>
                    					</p>
                    					<p>
                    						<lable style="color:#000000;">车牌号码：</lable>
											<span style="color:#007aff;">豫AT3397</span>
                    					</p>
                    					<p>
                    						<lable style="color:#000000;">预订时间：</lable>
											<span style="color:#007aff;">10点</span>
                    					</p>
									</a>
								</li>
								<li class="mui-table-view-cell"style="padding: 9px 15px;">
										&nbsp;
									<button type="button" class="mui-btn mui-btn-primary"style="margin-right: 160px;padding: 4px 8px;">确定预约</button>
									<button type="button" class="mui-btn mui-btn-primary"style="margin-right: 80px;padding: 4px 8px;">取消预约</button>
									<button type="button" class="mui-btn mui-btn-primary"style="margin-right: 0px;padding: 4px 8px;">结束预约</button>
								</li>
							</ul>
								
							<ul class="mui-table-view"style="margin-top: 8px;">
								<li class="mui-table-view-cell"style="padding: 9px 15px;">
									<lable>预约编号：</lable>
									<span>201612080001</span>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</li>
								<li class="mui-table-view-cell">
									<a class="mui-navigate-right">
										<p>
                    						<lable style="color:#000000;">车主姓名：</lable>
											<span style="color:#007aff;">张亮</span>
                    					</p>
                    					<p>
                    						<lable style="color:#000000;">车牌号码：</lable>
											<span style="color:#007aff;">豫AT3397</span>
                    					</p>
                    					<p>
                    						<lable style="color:#000000;">预订时间：</lable>
											<span style="color:#007aff;">10点</span>
                    					</p>
									</a>
								</li>
								<li class="mui-table-view-cell"style="padding: 9px 15px;">
									&nbsp;
									<button type="button" class="mui-btn mui-btn-primary"style="margin-right: 160px;padding: 4px 8px;">确定预约</button>
									<button type="button" class="mui-btn mui-btn-primary"style="margin-right: 80px;padding: 4px 8px;">取消预约</button>
									<button type="button" class="mui-btn mui-btn-primary"style="margin-right: 0px;padding: 4px 8px;">结束预约</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				</div>
			</div>
		</div>
	

	<script src="js/mui.min.js"></script>
    <script>
			mui.init({
				swipeBack: false
			});
			(function($) {
				$('.mui-scroll-wrapper').scroll({
					indicators: true //是否显示滚动条
				});
				
				var sliderSegmentedControl = document.getElementById('sliderSegmentedControl');
				$('.mui-input-group').on('change', 'input', function() {
					if (this.checked) {
						sliderSegmentedControl.className = 'mui-slider-indicator mui-segmented-control mui-segmented-control-inverted mui-segmented-control-' + this.value;
						//force repaint
						sliderProgressBar.setAttribute('style', sliderProgressBar.getAttribute('style'));
					}
				});
			})(mui);
		</script>

  
</body>
</html>