<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>预订车位</title>
    <link href="../public/stylesheets/mui.min.css" rel="stylesheet"/>
</head>
<body>

	<form  action='/park/create' method='post'>
	<input type='hidden' name='_csrf' value='<%= csrf %>'>
	<input type='hidden' id='open_id' name='open_id' value='<%=ParkingOrder.open_id %>'>
	<input type='hidden' id='tel' name='tel' value='<%=ParkingOrder.tel %>'>
	<input type='hidden' id='pid' name='pid' value='<%=ParkingOrder.pid %>'>
	<input type='hidden' id='addr' name='addr' value='<%=ParkingOrder.addr %>'>

	<div class="mui-content"style="margin-top:15px;">
		<label style="margin-left:10px;">车主姓名:</label>
		<div class="mui-input-row"style="margin-left:90px;margin-top:-30px;width: 215px;">
			<input id='username' name='username' type="text" value='<%=ParkingOrder.username %>' class="mui-input-clear" placeholder="车主姓名">
		</div>			
		<label style="margin-left:10px;">车牌号码:</label>
		<div class="mui-input-row"style="margin-left:90px;margin-top:-30px;width: 215px;">
			 <%if (cars!=null){%>
			 <select  id='plate_number' name='plate_number' class="mui-input-clear" style="  padding-left: 15px; ">					
						<%- partial('./_car', {collection:cars, as:'car'}) %>				    	
			</select>
			<%}else{%>
			<input id='plate_number' name='plate_number' type="text" value='<%=ParkingOrder.plate_number %>' class="mui-input-clear" placeholder="车牌号码">
		    <%}%>
		</div>	
		<label style="margin-left:10px;">预订车位:</label>
		<div class="mui-input-row"style="margin-left:90px;margin-top:-30px;width: 215px;">
			<input id='name' name='name' type="text" value='<%=ParkingOrder.name %>' class="mui-input-clear" placeholder="车辆位置">
			<%  if (!ParkingOrder.reserve_at){ -%>
			<% if (num==0) { %>
			<p>
				对不起现在没有车位了。请过段时间在预约</p>
			<% } } %>
		</div>
		<label style="margin-left:10px;">预订时间:</label>
		  <%  if (ParkingOrder.reserve_at){ -%>
		        <input type='hidden' id='id' name='id' value='<%=ParkingOrder._id %>'>
				<div class="mui-input-row"style="margin-left:90px;margin-top:-30px;width: 215px;">
			     <input id='reserve_at' name='reserve_at' type="text" value='<%=ParkingOrder.reserve_at_ago() %>' class="mui-input-clear" >
		        </div>
				<% if(ParkingOrder.state==='1') { %>
				<div class="mui-content-padded">
		        	<button type="submit" class="mui-btn mui-btn-primary mui-btn-block"style="font-size: 20px;padding:5px 10px;height:45px;">取消预约</button>
		   		 </div>
				<% }	}else{  -%>
				<!--<div class="mui-card" style="margin-top:10px;">-->
				<ul class="mui-table-view mui-grid-view mui-grid-9" style="margin-top:10px;background-color: #FFFFFF;">
				<% for(var i = ParkingOrder.hour; i <= ParkingOrder.hour+22; i=i+2) { %>
					<% var ii=i;var ik=i+2; if (i>=24) {ii=i-24;} ;if (ik>=24) {ik=ik-24;} ; %>
				<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-12" style=<% if(ii!=i){ %>"height:40px;background-color: #e6fefe;"<%}else{ %>"height: 40px;" <%} %> >
		                    <div class="mui-input-row mui-radio mui-left" style="margin-top: -10px;">
								<!--<%=(ii!=i)&&"height:40px;background-color: #BDDFAF;"||"height: 40px;" %>-->
								<label ><%= ii %>--<%= ik %>点
								<input name="hour" value=<%= i %> type="radio" > </label>
							</div> 
		            </li>
					 <% } %>
				</ul>
					<!--</div>-->
					<% if (num!=0) { %>
						<div class="mui-content-padded">
							<button type="submit" class="mui-btn mui-btn-primary mui-btn-block"style="font-size: 20px;padding:5px 10px;height:45px;">确认预约</button>
						</div>
					<% }	} -%>
			
		</div>
	</form>
	</body>
</html>