<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>绑定手机号</title>
    <link href="../public/stylesheets/muimin.css" rel="stylesheet"/>
</head>
<body>
    <header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">绑定手机号码</h1>
	</header>
	<form  action='/login' method='post'>
			<input type='hidden' name='_csrf' value='<%= csrf %>'>
			<input type='hidden' id='openid' name='openid' value='<%=openid %>'>
			<input type='hidden' id='r_url' name='r_url' value='<%=r_url %>'>

	<div class="mui-content"style="margin-top: 80px;">
<!--		<label style="margin-left:5px;">手机号</label>-->
		<div class="mui-input-row"style="margin-left:30px;margin-top:-30px;width:170px;">
			<input id='tel' name='tel' type="text" placeholder="请输入手机号">
		</div>	
		<button id="btnSendCode" type="button" onclick="sendMessage()" class="mui-btn mui-btn-primary"style="padding:6px;margin-left:205px;margin-top: -52px;">获取验证码</button>
		<!--<input id="btnSendCode" type="button" value="发送验证码" onclick="sendMessage()" /> -->
		<!--	<label style="margin-left:5px;">验证码</label>-->
		<div class="mui-input-row"style="margin-left:30px;margin-top:-30px;width:260px;">
			<input id='checkCode' name='checkCode' type="text" size="4" placeholder="请输入验证码">

             
		</div>	
		<div class="mui-button-row">
			<button type="submit" class="mui-btn mui-btn-primary" style="font-size: 16px;">确&nbsp;&nbsp;定</button>&nbsp;&nbsp;
			<!-- <button type="button" class="mui-btn" onclick="return false;"style="font-size: 16px;">取&nbsp;&nbsp;消</button>-->
		</div>
	</div>
	<% if (err==1) { %>
			<div class="mui-content-padded oauth-area">
				<span>请填写正确的手机号！。</span>
			</div>
	<% } %>
	</form>
</body>
<script src="../public/javascripts/zepto.min.js"></script>
<script type="text/javascript">
/*-------------------------------------------*/  
var InterValObj; //timer变量，控制时间  
var count = 60; //间隔函数，1秒执行  
var curCount;//当前剩余秒数  
var code = ""; //验证码  
var codeLength = 4;//验证码长度  
function sendMessage() {  
    curCount = count;  
    var phone=$("#tel").val();//手机号码  
    if(phone != ""){  
        //产生验证码  
        for (var i = 0; i < codeLength; i++) {  
            code += parseInt(Math.random() * 9).toString();  
        }  
        //设置button效果，开始计时  
        $("#btnSendCode").attr("disabled", "true");  
        $("#btnSendCode").val("请在" + curCount + "秒内输入验证码");  
        InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次  
    //向后台发送处理数据  
        $.ajax({  
            type: "POST", //用POST方式传输  
            dataType: "text", //数据格式:JSON  
            url: '/checkCode', //目标地址  
            data: "phone=" + phone + "&code=" + code,  
            error: function (XMLHttpRequest, textStatus, errorThrown) { },  
            success: function (msg){ }  
        });  
    }else{  
        alert("手机号码不能为空！");  
    }  
}  
//timer处理函数  
function SetRemainTime() {  
    if (curCount == 0) {                  
        window.clearInterval(InterValObj);//停止计时器  
        $("#btnSendCode").removeAttr("disabled");//启用按钮  
        $("#btnSendCode").val("重新发送验证码");  
        code = ""; //清除验证码。如果不清除，过时间后，输入收到的验证码依然有效      
    }  
    else {  
        curCount--;  
        $("#btnSendCode").val("请在" + curCount + "秒内输入验证码");  
    }  
}  

</script>

</html>