<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>绑定手机号</title>
    <link href="../public/stylesheets/muimin.css" rel="stylesheet"/>
</head>
<body>
    <header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">绑定手机号码</h1>
	</header>
	<form class="mui-input-group" action='/login' method='post'>
			<input type='hidden' name='_csrf' value='<%= csrf %>'>
			<input type='hidden' id='openid' name='openid' value='<%=openid %>'>
			<input type='hidden' id='r_url' name='r_url' value='<%=r_url %>'>

	<div class="mui-content"style="margin-top: 80px;">
<!--		<label style="margin-left:5px;">手机号</label>-->
		<div class="mui-input-row"style="margin-left:30px;margin-top:-30px;width:170px;">
			<input id='tel' name='tel' type="text" placeholder="请输入手机号">
		</div>	
		<button type="button" class="mui-btn mui-btn-primary"style="padding:6px;margin-left:205px;margin-top: -52px;">获取验证码</button>
		<!--	<label style="margin-left:5px;">验证码</label>-->
		<div class="mui-input-row"style="margin-left:30px;margin-top:-30px;width:260px;">
			<input id='yzm' name='yzm' type="text" placeholder="请输入验证码">
		</div>	
		<div class="mui-button-row">
			<button type="submit" class="mui-btn mui-btn-primary" style="font-size: 16px;">确&nbsp;&nbsp;定</button>&nbsp;&nbsp;
			<!-- <button type="button" class="mui-btn" onclick="return false;"style="font-size: 16px;">取&nbsp;&nbsp;消</button>-->
		</div>
	</div>
	<% if (err==1) { %>
			<div class="mui-content-padded oauth-area">
				<span>请填写正确的手机号！。</span>
			</div>
	<% } %>
	</form>
</body>
</html>